.abc{
  list-style: none;
  margin: 8px 0;
  font-size: 16px;
}

.logo-size{
  height: 140px;
  width: 140px;
}

.navbar{
  max-height: 80px;
}


.p-title{
  background-color: greenyellow;
}
.p-title2{
  background-color: rgb(238, 250, 64);
}

.strick-title{
  color: #f82727;
}

.pp{
  color: green;
}

.dcf{
  color: green;
}

.table :where(thead, tfoot) :where(th, td){
  background-color: greenyellow !important;
  height: 50px;
}

.table-compact :where(th, td) {
  font-size: 18px;
}

.img-fluid{
  max-width:100%;
  height:auto
}

.img-box{
  width: 50%;
}